<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-sm" [routerLink]="['/topic-data-lib',{ outlets:{'left':['entry', 'sqlDS']}}]">SQL
    </button>
    <button class="btn btn-sm" [routerLink]="['/topic-data-lib',{ outlets:{'left':['entry', 'tableDS']}}]">
      Table
    </button>
    <button class="btn btn-sm" [routerLink]="['/topic-data-lib',{ outlets:{'left':['entry', 'fileDS']}}]">
      CSV/Excel
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <router-outlet></router-outlet>
  </div>
</div>
