<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-sm">增加客製欄位</button>
    <button class="btn btn-sm">篩選條件</button>
    <button class="btn btn-sm">預覽</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table ">
      <thead>
      <tr>
        <th class="left">欄位代碼</th>
        <th class="left">欄位別名</th>
        <th class="left">顯示</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="left">Frankenstein</td>
        <td class="left">Fire</td>
        <td class="left">
          <div class="toggle-switch">
            <input type="checkbox"><label>隱藏</label>
          </div>
        </td>
      </tr>
      <tr>
        <td class="left">Dracula</td>
        <td class="left">Garlic</td>
        <td class="left">
          <div class="toggle-switch">
            <input type="checkbox" checked><label>顯示</label>
          </div>
        </td>
      </tr>
      <tr>
        <td class="left">Wolfman</td>
        <td class="left">Squirrels</td>
        <td class="left">
          <div class="toggle-switch">
            <input type="checkbox"><label>隱藏</label>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
