<div class="row">
  <div class="col-xs-11">
    <div class="card" style="margin-top: 0">
      <div class="card-header">
        建立 CSV/EXCEL 資料集
      </div>
      <div class="card-block">
        檔案上傳 <input type="file">
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" [routerLink]="['/topic-data-lib',{ outlets:{'left':['field']}}]">建立</button>
        <button class="btn btn-sm btn-link" [routerLink]="['/topic-data-lib',{ outlets:{'left':['field']}}]">取消</button>
      </div>
    </div>
  </div>
</div>
